database/metabase_session.json
{
  "name": "Metabase Session",
  "nodes": [
    {
      "parameters": {},
      "id": "19a1c597-6d23-451b-95d4-092789ab34fa",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        1380,
        100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://bi.shuttlers.ng/api/session",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "username",
              "value": "itplatforms@shuttlers.ng"
            },
            {
              "name": "password",
              "value": "1T$hutt!ers"
            }
          ]
        },
        "options": {}
      },
      "id": "83b2c8fb-8af0-4c8a-ace8-8847239ec231",
      "name": "Generate Session ID",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1600,
        100
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "X-Metabase-Session",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "7aa72c96-8afc-4aba-a1e0-7348aad93767",
      "name": "sessionId",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1820,
        100
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Generate Session ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Session ID": {
      "main": [
        [
          {
            "node": "sessionId",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "timezone": "Africa/Lagos",
    "saveDataSuccessExecution": "none",
    "saveManualExecutions": false,
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": 30
  },
  "versionId": "c05cbe10-8655-4488-8478-14269633e27e",
  "id": "1",
  "meta": {
    "instanceId": "9a8538d492c3c6911883b051c1e3037a5a7362e378e69ccb25e610ed8a8cfb38"
  },
  "tags": []
}